* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.navbar-nav .nav-item a {
   font-size: 1.5rem; /* Adjust the font size as needed */
}
/* CSS for the funder logos section */
.funders {
   background-color: #fff;
   padding: 10px; /* Add padding to the funder logos section */
}

/* CSS for the funder logo images */
.funder-image {
   max-width: 100px; /* Set a maximum width for all funder logo images */
   height: auto; /* Allow images to adjust their height while maintaining aspect ratio */
}

.content {
   padding-top: 1rem;
   padding-bottom: 2rem;

   background-color: #f4eae0;
   background-image: url('../images/150617-1415-page-background.jpg');
   background-size: cover; /* Optional: Adjust the background size */
    background-repeat: no-repeat; /* Optional: Prevent image repetition */
}
  .panel img {
      height: 200px; /* Set a fixed height for all images */
      object-fit: contain; /* Maintain aspect ratio and fit within the fixed height */
   padding: 3rem;
   /* center image */
   display: block;
   margin-left: auto;
   margin-right: auto;
   
  }
  .panel {
      margin: 1rem;
   display: flex;
   flex-direction: column;
   align-items: center; /* Center horizontally */
   justify-content: center; /* Center vertically */
  }

  .white-bg {
   background-color: #fff; /* Set the background color to white */
   border: none; /* Remove the default card border */
}