{% extends 'main/base.html' %}
{% block title %}RiboSeq.Org Database{% endblock %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/searchpanes/2.1.0/css/searchPanes.bootstrap5.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.5.0/css/select.bootstrap5.min.css">

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">
  
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function() {
            var table = $('#example').DataTable({
                searchPanes: true
            });
            table.searchPanes.container().prependTo(table.table().container());
            table.searchPanes.resizePanes();
        });
        $(document).ready(function () {
            var oTable = $('.datatable').dataTable({
            // ...
            "processing": true,
            "serverSide": true,
            "ajax": "{% url 'order_list_json' %}"
         });
    // ...
});
    </script>
    <section id="database">
        <div class="fw-container">
            <div class="fw-header">
                <h1>RiboSeq.org Database</h1>
                <div class="nav-wrapper">
                    <div class="nav-search">
                        <div class="nav-item i-user">
                            <div class="account"></div>
                        </div>
                    </div>
                </div>
                <div class="nav-ad">
                    <div data-ea-publisher="datatablesnet" data-ea-type="image" data-ea-manual="true"></div>
                </div>
            </div>
            <div class="fw-body">
                <div class="content">

                    <table id="example" class="table table-striped nowrap" style="width:90%; margin-left:auto; margin-right:auto">
                        <thead>
                            <tr>
                                <th>Accession</th>
                                <th>Description</th>
                                <th>Cell Line</th>
                                <th>Library Type</th>
                                <th>Treatment</th>
                                <!-- <th>Trips-Viz</th>
                                <th>GWIPS-viz</th>
                                <th>RiboCrypt</th> -->
                                <th scope="col">Select</th>

                            </tr>
                        </thead>
                        <tbody>
                            {% for sample in ls %}
                                <tr>
                                    <td>{{ sample.sample_name }}</td>
                                    <td>{{ sample.sample_description }}</td>
                                    <td>{{ sample.cell_line }}</td>
                                    <td>{{ sample.library_type }}</td>
                                    <td>{{ sample.treatment }}</td>
                                    <!-- <td><a href="http://trips.ucc.ie">Trips-Viz</a></td>
                                    <td><a href="http://gwips.ucc.ie">GWIPS-viz</a></td>
                                    <td><a href="http://RiboCrypt.org">RiboCrypt</a></td> -->
                                    <td><input type="checkbox" /></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Accession</th>
                                <th>Description</th>
                                <th>Cell Line</th>
                                <th>Library Type</th>
                                <th>Treatment</th>
                                <!-- <th>Trips-Viz</th>
                                <th>GWIPS-viz</th>
                                <th>RiboCrypt</th> -->
                                <th scope="col">Select</th>
                            </tr>
                        </tfoot>
                    </table>
                    <div style="align-content: center;">
                        <button type="button" class="btn btn-primary">Link to Trips-Viz</button>
                        <button type="button" class="btn btn-primary">Link to GWIPS-viz</button>
                        <button type="button" class="btn btn-primary">Link to RiboCrypt</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
